/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* main  */

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 85%;
    margin: auto;
}

.top-section {
    display: flex;
    background-color: #fff;
    background: #161616;
    border-radius: 30px;
    color: #fff;
    align-items: flex-end;
    margin-top: 50px;
}

.article-side {
    width: 40%;
    padding: 30px 0 120px 100px;
}

.article-side h1 {
    /* font-size: 70px; */
    font-size: 5vw;
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 20px;
}

.article-side p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 45px;

}

.button {
    text-decoration: none;
    color: #fff;
    background: #DD0000;
    border-radius: 5px;
    padding: 12px 25px;
    transition-duration: 0.3s;
    border: 2px solid #DD0000;
    font-weight: 500;
    font-size: 25px;

}

.fa-chevron-right {
    margin-left: 10px;
}


.button:hover {
    background-color: white;
    color: #333;
    border: 2px solid #DD0000;

}


.img-side {
    width: 50%;

}

.img-side img {
    width: 90%;
    margin-bottom: -7px;

}



/* blogs  */


.blogs {
    display: flex;
    margin-top: 100px;

}

.upcoming-info {
    width: 25%;
    background-color: #161616;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-right: 2%;
    margin-top: 1%;
}

.upcoming-info a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #161616;
    padding: 15px 15px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
}

.upcoming-info .active {
    background-color: #DD0000;
    color: #fff;
}

.blogs-info {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog {
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.blog-img {
    margin-bottom: 15px;
}

.blog-info a {
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 16px;
    font-weight: 500;
    color: #161616;
    margin-left: 15px;

}

.blog-info h3 {
    color: #161616;
    font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
}

.blog-info span {
    margin-left: 15px;

}




/* footer section */

footer .important-links {
    text-align: center;
}

footer {
    background-color: #161616;
    padding: 100px 0;
    margin-top: 100px;
}

footer h2 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

footer nav ul {
    /* display: block;
    margin: auto; */
    /* justify-content: space-evenly; */
    margin-top: 50px;
}

footer nav ul li {
    display: inline;
    margin-right: 5%;
    ;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

footer nav ul li a {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 500;
}




/* matches section */


.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;

}

.match {
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.img-blk {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-evenly;
}

.img-blk h2 {
    color: #161616;
    font-size: 16px;
    font-weight: 700;
}

.text-blk {
    text-align: center;
}

.text-blk p {
    color: #4D4D4D;
    font-size: 16px;
    line-height: .5em;
}

.social {
    display: none;
}


/* button area
.btn {
    margin: auto;
    display: none;
    justify-content: space-evenly
}

.btn a {
    text-decoration: none;


} */

.btn1 {
    background-color: #DD0000;
    padding: 15px 40px;
    color: #fff;
    border-radius: 5px;
    display: none;


}








/* Mobile View */

@media screen and (max-width:600px) {

    .top-section,
    .blogs {
        flex-direction: column;
    }

    .article-side,
    .img-side {
        width: 60%;
        text-align: center;
        margin: auto;
        padding-left: 0;

    }

    .article-side h1 {
        font-size: 30px;
        line-height: 1.5em;


    }

    .upcoming-info {

        width: 80%;
        margin: auto;
    }

    .blogs-info,
    .matches {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 30px auto;

    }

    .blog,
    .match {
        display: block;

    }

    .blog-img img {
        width: 100%;

    }

    .blog-info a {
        font-size: 20px;
    }

    .blog-info h3 {
        font-size: 25px;
    }

    .blog-info span {
        font-size: 20px;

    }

    /* footer nav ul {
        flex-direction: column;
        align-items: center;
        gap: 30px;


    } */

    footer nav ul li {
        display: block;
        margin-top: 5%;
    }



    footer nav ul li a {
        font-size: 20px;
        text-decoration: none;

    }

    nav .social {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 30%;
        margin: auto;
        justify-items: center;
        margin-top: 50px;

    }

    .button {
        font-size: 15px;
    }


}



/* Tablet view */

@media screen and (min-width:601px) and (max-width:1024px) {
    .article-side {
        width: 50%;
        padding-left: 30px;
    }

    .img-side {
        width: 50%;

    }

    .img-side img {
        width: 100%;
    }


    .blogs {
        flex-direction: column;
    }

    .upcoming-info {

        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: #fff;
        padding: 0;

        align-items: center
    }

    .button {
        font-size: 18px;
    }

    .upcoming-info a {
        /* width: 300px;
        height: 40px; */
        padding: 10px 25px;
        border: 1px solid #ddd;
        font-size: 18px;

    }

    .hidden {
        display: none;
    }

    .blogs-info,
    .matches {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        /* margin: 30px auto; */

    }

    .blogs-info img {
        width: 100%;
    }

    .blog-info a {
        font-size: 25px;
    }

    .blog-info h3 {
        font-size: 20px;
    }

    .blog-info span {
        font-size: 20px;

    }

    footer nav ul li {
        margin-right: 5%;
        line-height: 3.5em;
    }

    footer nav ul li a {
        font-size: 20px;
    }

    /* footer nav ul li {
        margin-right: 20px;
    } */

    /* footer nav ul {
        gap: 30px;
    } */

    /* .btn {
        display: flex;
        margin-top: 50px;

    } */


    .hidden {
        display: none;
    }

    .btn1 {

        display: block;
        margin: auto;

    }

    .view-more:checked~.hidden {
        display: block;
    }

    .view-more,
    .view-more:checked~label {
        display: none;
    }






}


@media screen and (min-width:1025px) {

    .upcoming-info {
        width: 25%;
    }

    .blogs-info {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .blog {
        overflow: hidden;
    }

    .blog-img img {
        width: 100%;

    }

    .blog-info a {
        font-size: 27px;
    }

    .blog-info h3 {
        font-size: 22px;
    }

    .blog-info span {
        font-size: 22px;

    }

}




input {
    display: none;
}